

html {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
}

body {
  background-color: #f0f0f0;
}


/* Banner CSS */

.banner {
  background-image: url("https://images.unsplash.com/photo-1485095329183-d0797cdc5676?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  margin: 100px auto;
  width: 90%;
  height: 500px;
  position: relative;
}


ul {
  position: absolute;
  top: 75px;
  list-style: none;
}
li {
  color: white;
  margin-top: 24px;
  font-size: 90%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}


/* Headings */

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    float: left;

}

h2 {
  font-size: 160%;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 40px;
}

h3 {
  margin-bottom: 0;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #00b894;
  content: ' ';
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;

}

.banner h2 {
  color: white;
  position: absolute;
  left: 30px;
}

.banner h2::after{
  display: none;
}

/* Reusable Components */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

.col {
	display: block;
	float:left;
  margin: 1% 0 1% 1.6%;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.span-1-of-2 {
	width: 49.2%;
}

/* Icons */
.paper-plane-icon {
  margin-top: 30px;
  margin-left: 15px;
  font-size: 250%;
  display: block;
  color: #00b894;
  float: left;

}

.x-icon {
  color: white;
  position: absolute;
  font-size: 250%;
  right: 0;
  cursor: pointer;
}


/* Search CSS */

.search-container {
  margin: auto;
  width: 1140px;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  justify-content: center;
  display: flex;
  
}
.search-bar {
  width: 95%;
  margin-right: 15px;
}

input {
  margin-top: 0 auto;
  display: block;
  width: 100%;
  padding: 5px;
  text-indent: 30px;
}

label {
  margin-top: 15px;
  margin-bottom: 15px;
  display:inline-block;
  
}

/* btn css */

.search-btn {
  position: relative;
  bottom: 25px;
  background-color: transparent;
  border: 0;
}

.movie-btn {
  font-family: Lato;
  text-align: center;
  cursor: pointer;
  margin: 15px auto;
  width: 35%;
  padding: 10px;
  transition: all .3s;
  border-radius: 100vh;
}

.nominate {
  background-color: #00b894;
  border: 1px solid transparent;
}

.nominate:hover,
.nominate:active {
  color: white;
  background-color: #03977a;
}

.remove {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.remove:hover,
.remove:active {
  color: #00b894;
  border: 1px solid #00b894;
  
}

.movie-container {



}

.nomination-container {

}



/* Movie Card CSS */

.movie-card {
  color: white;
  width: 50%;
  height: auto;
  max-width: 60rem;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2em auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(66, 66, 66);
}

.movie-photo {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.movie-photo img{
  margin: auto;
  display: block;
  width: 60%;
  border: solid 2px rgb(206, 206, 206);;
  max-width: 500px;

}




/* 
body {
  background: whitesmoke;
}

.search-bar {
background: pink;
position: relative;


}

.search-bar__input {
  border: 3px solid orange;
  height: 40px;
  width: 300px;
  border-radius: 100vh;
  padding: 0px 10px;
  text-indent: 40px;
  

}

.search-bar__input::placeholder{
  position: relative;
  left: 10px;
}

.search-bar__input:focus {
  outline: none;
}

.search-btn {

background: transparent;
border: none;
position: relative;
right: 310px;  
}


.Movie-Container {
  position: relative;
  top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 30%;
  height: auto;
  padding: 10px;
  text-align: center;
  background: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.Nomination-Container {
  position: relative;
  top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 30%;
  height: auto;
  padding: 10px;
  text-align: center;
  background: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.center {
  display: flex;
  justify-content: center;
} */